/*  your css code here. If applicable */
.centre{
	text-align: center;
}
.right{
	text-align: right;
}
table{
	width: 100%;
}
td{
	border: 1px solid black;
	padding: 1px;
	border-spacing: 1px;
}
#t-image{
	text-align:center;
}
#t12{
	text-align: center;
}
#t13{
	text-align: right;
}
